<h1>Edit Bulk Discount</h1>
<%= render partial: 'form', locals: { path: merchant_bulk_discount_path(@merchant.id, @bulk_discount.id),
                                      method: :patch,
                                      button_text: "Update Bulk Discount"} %>
